<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.fengf.bms">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <!--<bean id="iniRealm" class="org.apache.shiro.realm.text.IniRealm">-->
        <!--<constructor-arg name="resourcePath" value="classpath:shiro-web.ini"/>-->
    <!--</bean>-->

    <!--<context:property-placeholder location="classpath:jdbc.properties" ignore-resource-not-found="true" />-->
    <!--&lt;!&ndash; 配置 数据源 &ndash;&gt;-->
    <!--<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">-->
        <!--<property name="driverClassName" value="${jdbc.driver}" />-->
        <!--<property name="url" value="${jdbc.url}" />-->
        <!--<property name="username" value="${jdbc.username}" />-->
        <!--<property name="password" value="${jdbc.password}" />-->
    <!--</bean>-->
    <!--<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean" >-->
        <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <bean id="myShiroRealm" class="com.fengf.bms.filter.MyShiroRealm"/>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--<property name="realm" ref="iniRealm"/>-->
        <property name="realm" ref="myShiroRealm" />
    </bean>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <bean id="shiroFilter" class="com.fengf.bms.filter.MyShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/bms/login.html"/>
        <property name="successUrl" value="/blog-manager/index.html"/>
        <property name="unauthorizedUrl" value="/error.html"/>
        <property name="filterChainDefinitions">
            <value>
                /blog-manager/* = authc
                /bms/login.html = anon
                <!--/test/gologin.html = anon-->
                <!--/test/index.html = authc-->
                <!--/role = authc,roles[admin]-->
                <!--/menu/** = authc,roles[admin,test]-->
            </value>
        </property>
        <property name="filters">
            <map>
                <entry key="roles">
                    <bean class="com.fengf.bms.filter.MyShiroFilter"/>
                </entry>
            </map>
        </property>
    </bean>

</beans>